h1 {
	text-align: center;
}

h3 {
	font-weight: bold;
	text-align: center;
}

img {
    padding: 5px;
    width: 50px;
}

.nav-my {
	font-size: medium;
}


.bg-mycolor {
    background-color: #34689c!important;
}
